/* GENERAL STYLES AND LAYOUT */

* {
  font-family: 'Noto Sans', sans-serif;
  /* border: 1px solid green; */
}

body,
.main-nav-top-row,
hgroup > div {
  display: flex;
  margin: 0;
  background-color: rgb(255,255,255);
}

main,
.main-left,
.links-container,
.copy-fields {
  flex: 1;
}

p,
h1,
h4 {
  margin: 0;
}

button,
.table-column-left {
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

.material-symbols-rounded {
  font-size: 1.25rem;
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}

nav, 
nav h5,
.nav-user-container,
.nav-primary-container,
.nav-secondary-container,
.main-nav-header,
.charts-left,
.charts-right,
.main-right,
.socials-container,
.links-container,
.links-content {
  display: flex;
  flex-direction: column;
}

nav button,
.nav-user-container,
.search-container,
.search-icons,
.search-bar,
.subheader-container,
.main-nav-quick-icons,
.charts-right,
.p-filler-share-cont,
.divider-body {
  display: flex;
  align-items: center;
}

.search-container,
.main-nav-header,
.main-nav-quick-icons,
.main-body-top,
.main-body-bottom,
.socials-container,
.links-container,
.divider-body,
.pie-chart-container {
  display: flex;
  justify-content: space-between;
}

/* NAVIGATION MENU (LEFT) STYLES */

nav {
  flex: 0 0 12rem;
  padding-top: 1.75rem;
  color: rgb(255,255,255);
  background-color: rgb(85,85,85);
}

.nav-user-container {
  justify-content: center;
  padding-bottom: 1.75rem;
}

.nav-user-container > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-user-container > h4 {
  padding-top: 0.75rem;
  font-weight: 400;
}

.nav-primary-container,
.nav-secondary-container {
  padding-bottom: 1.75rem;
  border-top: 2px solid rgba(54, 54, 54, 0.5);
  box-shadow: 0 0.5px 2px rgba(54,54,54,0.5)
}

nav h5 {
  align-items: flex-start;
  padding-left: 1.5rem;
  margin: 1.75em 0 0.75rem 0;
}

nav i {
  padding-right: 1rem;
}

nav button {
  width: 100%;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border: 0px;
  color: rgb(255,255,255);
  background-color: rgb(85,85,85);
}

nav button:hover, 
nav button.active {
  border-left: 2px solid rgb(176,215,239);
  padding-left: 1.35rem;
  color: rgb(85,85,85);
  background-color: rgb(210,230,187);
}

nav button.active {
  color: rgb(255,255,255);
  background-color: rgb(66,101,24);
}

/* SEARCH BAR STYLES */

.search-container {
  height: 5rem;
  background-color: rgb(255,255,255)
}

button.search-icons {
  justify-content: center;
  width: 6rem;
  height: 100%;
  color: rgb(85,85,85);
  background-color: rgb(255,255,255);
  border: 0;
  box-shadow: 0 0.75px 2px rgba(85,85,85,0.5);
}

button.search-icons > i,
button.search-bar > i {
  font-size: 1.75rem;
}

button.search-icons:hover {
  background-color: rgb(176,215,239);
}

.search-icons-right {
  display: flex;
  height: 5rem;
}

.search-bar > i {
  padding: 0 0.5rem 0 1.5rem;
  color: rgb(85,85,85);
}

.search-bar {
  flex: 1;
  height: 100%;
  box-shadow: 0 0.75px 2px rgba(85,85,85,0.5);
}

form {
  flex: 1;
}

#siteSearch {
  width: 98%;
  border: 0;
  padding: 0.5rem;
}

#siteSearch:focus-visible {
  outline: rgb(115,146,78) auto 1px;
}

/* MAIN PAGE NAV HEADER STYLES */

.main-nav-container {
  padding: 3rem;
  padding-bottom: 0;
  border-bottom: 1px solid darkgrey;
  position: relative;
  box-shadow: 0 0.75px 2px rgba(85,85,85,0.25);
}

.main-nav-header {
  height: 9.5rem;
}

hgroup {
  width: 75%;
}

.subheader-container {
  height: 2.5rem;
}

.subheader {
  margin: 0 0.5rem 0 0;
}

.main-link {
  margin: 0 0 0 0.5rem;
  color: rgb(66, 101, 24);
}

.main-nav-quick-icons {
  width: 25%;
}

.main-nav-quick-icons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.05rem;
  width: 2.05rem;
  border: 1.5px solid rgba(85,85,85,0.25);
  border-radius: 50%;
  box-shadow: 0 0.5px 1px rgb(201,201,201);
  padding: 0;
  color: rgb(85,85,85);
  background-color: rgb(255,255,255);
}

.main-nav-quick-icons > button.icon-wide {
  width: 5rem;
  border-radius: 20px;
}

.icon-wide > i {
  padding-right: 0.25rem;
}

.main-nav-tabs > button {
  height: 3rem;
  margin-right: 3rem;
  border: 0;
  border-radius: 1px;
  padding: 0 1px;
  background-color: rgb(255,255,255);
}

.main-nav-tabs > button:hover {
  background-color: rgb(176,215,239);
}

.main-nav-tabs > .default-tab {
  border-bottom: 3px solid rgb(176,215,239);
}

/* MAIN BODY GENERAL STYLES */

.main-body-container {
  border: 3rem solid rgb(197,197,197);
  background-color: rgb(197,197,197);
}

.main-body-top {
  height: 16rem;
  margin-bottom: 3rem;
}

.main-body-bottom {
  margin-top: 3rem;
}

.main-right {
  width: 25%;
  margin-left: 3rem;
}

.info-card {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  box-shadow: 0px 1px 4px rgba(85,85,85,0.25);
}

/* CHART CONTAINER STYLES */

.charts-left,
.charts-right {
  justify-content: center;
  position: relative;
}

.charts-right {
  justify-content: flex-start;
}

.charts-left {
  width: 60%;
  margin-right: 3rem;
  padding-bottom: 2.5rem;
}

.charts-left button {
  width: 35%;
  margin: 0 auto;
}

.charts-right button {
  width: 35%;
}

.chart-subtitles {
  position: absolute;
  bottom: 0;
  align-self: center;
  padding: 0.25rem 0.75rem;
  border: 1px solid rgba(54,54,54,0.25);
  border-radius: 20px;
  color: rgb(85,85,85);
  background-color: rgb(255,255,255);
  box-shadow: 0 0.5px 1px rgb(54,54,54,0.25);
  text-transform: uppercase;
  font-size: small;
}

.divider-body {
  height: 0;
}

.divider-line {
  width: 100%;
  border-bottom: 1px solid rgba(85,85,85,0.25);
  box-shadow: 0 0.5px 1px rgba(85,85,85,0.25);
}

.divider-body > .left {
  margin-right: 0.5rem;
}

.divider-body > .right {
  margin-left: 0.5rem;
}

.center-icon {
  color: rgba(255, 255, 255, 0.8);
  line-height: normal;
  font-size: 2rem;
  font-variation-settings: 
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.image-container {
  height: 85%;
}

.image-container > img {
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 0.75px 2px rgba(85,85,85,0.25);
}

/* PIE CHARTS */

.full-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-grid;
  margin: 5px;
  border-radius: 50%;
  place-content: center;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 -0.75px 2px rgba(85,85,85,0.25);
}

.pie {
  --percent: 50;
  --border-thickness: 10px;
  --chart-color: darkgoldenrod;
  --w: 150px;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side,var(--chart-color) 98%,#0000) top/var(--border-thickness) var(--border-thickness) no-repeat,
    conic-gradient(var(--chart-color) calc(var(--percent)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border-thickness)),#000 calc(100% - var(--border-thickness)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--border-thickness)),#000 calc(100% - var(--border-thickness)));
}

.pie:after {
  inset: calc(50% - var(--border-thickness)/2);
  background: var(--chart-color);
  transform: rotate(calc(var(--percent)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.charts-to-rotate {
  transform: rotate(0.5turn);
}

.charts-to-rotate span {
  transform: rotate(-0.5turn);
  text-align: center;
  text-transform: uppercase;
}

/* SHARING CONTAINER STYLES */

.socials-container {
  height: 25%;
  text-align: center;
}

.main-right .btn:hover {
  color: rgb(255,255,255);
  background-color: rgb(66,101,24);
}

.main-right .btn {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 3rem;
  margin-bottom: 0.7rem;
  border-radius: 2px;
  color: rgb(85,85,85);
  background-color: rgb(210,230,187);
  text-decoration: none;
  line-height: 3rem;
  box-shadow: 0px 1px 4px rgba(85,85,85,0.25);
}

.fa {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.links-container,
.links-content,
th {
  text-align: start;
}

.links-container {
  margin-top: 1.25rem;
}

.divider-share-cont {
  margin: 1.5rem 0;
}

.p-filler-share-cont {
  height: 3rem;
  padding: 1rem 0;
  font-size: small;
}

.copy-row {
  display: flex;
  margin: 0.25rem 0;
  box-shadow: 0px 1px 4px rgba(85,85,85,0.25);
}

.copy-fields,
.copy-row > button {
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 2px;
  color: rgb(85,85,85);
  font-size: small;
}

.copy-row > button {
  color: rgb(255,255,255);
  background-color: rgb(66, 101, 24);
  text-transform: capitalize;
}

.copy-row > button:hover {
  color: rgb(85,85,85);
  background-color: rgb(210,230,187);
}

.last{
  margin-bottom: 0;
  padding-bottom: 0;
}

/* TABLE STYLES */

.table-column-left {
  width: 25%;
  padding-left: 2rem;
}

.table-column-right {
  padding-right: 2rem;
}

tbody {
  background-color: rgb(255,255,255);
}

th {
  height: 4rem;
  color: rgb(255,255,255);
  background-color: rgb(66, 101, 24);
}

th.table-column-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

th.table-column-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

td {
  padding: 1rem 0;
}

tr {
  position: relative;
  z-index: 1;
}

tr:before {
  content: "";
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  border-bottom: 1px solid rgb(201,201,201);
  box-shadow: 0 0.5px 1px rgb(201,201,201);
}

tr.no-border:before {
  border-bottom: 0;
}

tr.no-border > .table-column-left {
  border-bottom-left-radius: 2px;
}

tr.no-border > .table-column-right {
  border-bottom-right-radius: 2px;
}

.table-icon-row {
  display: flex;}

.table-icon-row > i {
  padding-right: 0.5rem;
  color: firebrick;
}

.table-column-right > button {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  border: 0;
  border-radius: 2px;
  color: rgb(85,85,85);
  background-color: rgb(210,230,187);
}

.table-column-right i {
  padding-right: 0.25rem;;
}