* {
  /* font-family: ; */
  border: 1px solid green;
}

body,
nav,
main {
  height: 100vh;
}

body {
  width: 100vw;
  margin: 0;
}

main {
  margin-left: 12rem;
}

nav {
  display: flex;
  flex-direction: column;
  width: 12rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 1rem;
  background-color: grey;
}

.nav-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.nav-primary-container,
.nav-secondary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
}

.nav-secondary-container {
  height: 13rem;
}

nav h5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  /* adjust margin after choosing font */
}

.material-symbols-rounded {
  font-size: 1.25rem;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

nav i {
  padding-right: 1rem;
}

nav button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4rem 0 0.4rem 1rem;
  border: 0px;
  background-color: grey;
}

nav button:hover {
  background-color: darkgrey;
  border-left: 3px solid cyan;
  font-weight: bold;
  cursor: pointer;
}

nav button.active {
  background-color: dimgrey;
  border-left: 3px solid cyan;
  font-weight: bold;
  cursor: pointer;
}

.search-container,
.search-icons,
.search-bar {
  display: flex;
  align-items: center;
}

.search-container {
  justify-content: space-between;
  height: 6rem;
  background-color: darkgray;
}

.search-icons {
  justify-content: center;
  width: 6rem;
  height: 100%;
}

.search-icons:hover {
  background-color: cyan;
  cursor: pointer;
}

.search-bar {
  width: 70%;
  height: 100%;
}

.main-nav-container,
.main-body-container {
  margin: 3rem;
}

.main-body-top {
  margin-bottom: 3rem;
}

.main-body-bottom {
  margin-top: 3rem;
}

/* add MAIN-NAV-CONTAINER styles */

.main-body-top {
  display: flex;
  justify-content: space-between;
}

.charts-left,
.charts-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charts-left {
  width: 60%
}

.charts-right {
  width: 40%
}

.charts-left > div {
  display: flex;
  justify-content: space-around;
}